<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/public/css/admin/index.css">
    <title>Hello, world!</title>
    <script type="text/javascript" src="public/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
</head>

<body>
    <div id="admin-public">
        <header class="admin-header">
            <div id="">
                <p>导航----所有页面共用部分</p>
            </div>
        </header>
    </div>
    {%block main%}{%endblock%}
</body>

</html>