<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta type="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="/public/admin/css/style.css" rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="/public/js/vue.js"></script>
</head>
<body>
<div id="adminlogin">
    <!--SIGN UP-->
    <h1>后台登录</h1>
    <div class="login-form">
        <div class="close"> </div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"> </div>
        <div class="avtar">
            <img src="/public/admin/images/avtar.png" />
        </div>
        <form v-on:submit="formSubmit($event)">
            <input type="text" class="text" v-model="username" value="Username" placeholder="请输入用户名">
            <div class="key">
                <input type="password" v-model="password" value="Password" >
            </div>
        </form>
        <div class="signin">
            <input type="submit" value="登录" >
        </div>
    </div>
    <div class="copy-rights">
        <p>Copyright &copy; 2015.Company name All rights reserved.More Templates</p>
    </div>
</div>
<script type="text/javascript" src="/public/admin/js/login.js"></script>
</body>
</html>