<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/public.css" />
    <link rel="stylesheet" href="/public/css/account.css" />
    <script type="text/javascript" src="/public/js/vue.js"></script>
    <script type="text/javascript" src="/public/js/vue-resource.js"></script>
</head>
<body>
    <div id="blog-account-app">
        <header class="header-bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">MyBlog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link nav-a-but" href="#">首页<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item nav-a-but">
                            <a class="nav-link" href="#">文章列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">相册</a>
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#">About</a>-->
                        <!--</li>-->
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <a href="/editor" class="badge badge-primary write-article-but"><i class="icon iconfont">&#xe63e;</i>写文章</a>
                <div class="account-center-block">
                    <span class="account-avatar-block"><img src="/public/images/f15.jpg" alt="" class="account-avatar-img"></span>
                    <span class="account-username">bluelife</span>
                    <a href="javascript:void(0);" class="account-contr-buts" v-on:click="showAccountBox"><i class="icon iconfont" v-html="accountSymbol"></i></a>
                    <div class="account-options-box" v-bind:style="{display:accountBox}">
                        <a href="/account" class="account-setting-but"><i class="icon iconfont">&#xe614;</i>我的主页</a>
                        <a href="/bookmarks" class="account-setting-but"><i class="icon iconfont">&#xe6a8;</i>我收藏的文章</a>
                        <a href="/liked" class="account-setting-but"><i class="icon iconfont">&#xe641;</i>我喜欢的文章</a>
                        <a href="/setting" class="account-setting-but"><i class="icon iconfont">&#xe632;</i>设置</a>
                        <a href="/help" class="account-setting-but"><i class="icon iconfont">&#xe60a;</i>问题与反馈</a>
                        <a href="/api/signout" class="account-signout-but"><i class="icon iconfont">&#xe633;</i>退出</a>
                    </div>
                </div>
            </nav>
        </header>
        <section class="content-bar"></section>
        <footer class="footer-bar"></footer>
    </div>
</body>
<script type="text/javascript" src="/public/js/account.js"></script>
</html>