{% extends './common/headers.html' %}
{% block content %}
    <section class="contents-bar">
        <div class="slide-bar" v-on:mouseover="stopSlidePlay($event)" v-on:mouseout="autoSlidePlay($event)" v-bind:style="{cursor:slideAttr.cursor}">
            <ul class="slide-list-group" v-bind:style="{left:slideAttr.left+'px'}">
                <li class="slide-lists" v-for="slide in slide_list">
                    <div class="slide-img-block"><img v-bind:src="slide.path" alt="" class="slide-img-block"></div>
                    <div class="slide-title-block">${slide.title}</div>
                    <div class="slide-text-block">${slide.describe}</div>
                </li>
            </ul>
            <div class="buts-block-box">
                <a href="javascript:void(0);" class="prev-but-block" v-on:click="switchSlide($event,'prev')"><i class="icon iconfont prev-incofont">&#xe639;</i></a>
                <a href="javascript:void(0);" class="next-but-block" v-on:click="switchSlide($event,'next')"><i class="icon iconfont next-incofont">&#xe638;</i></a>
            </div>
        </div>
        <div id="say-something-block">
            <h5 class="say-something-title">说些什么吧：</h5>
            <div class="something-contents-block"><textarea name="" id="" cols="30" rows="10" class="something-textarea"></textarea></div>
            <div class="something-ctr-block">
                <a href="" class="add-something-price-but"><i class="icon iconfont something-iconfont">&#xe67b;</i></a>
                <a href="" class="add-something-attr-but"><i class="icon iconfont something-iconfont">&#xe6a7;</i></a>
                <a href="" class="add-something-send-but">发表</a>
            </div>
        </div>
        <div id="body-content"><!--jumbotron-->
            <div class="body-layout-l">
                <div class="article-list-groups">
                    <div class="article-list-box">
                        <div class="article-list-img-box"><img src="/public/images/f10.jpg" alt="" class="article-img"></div>
                        <div class="article-list-describe-box">
                            <div class="article-list-describe-author"><span class="article-tags"><a href="javascript:void(0);">article</a></span><span class="article-author"><a
                                    href="javascript:void(0);">@amazeUI</a></span><span class="article-date"><a href="javascript:void(0);">2015/10/9</a></span></div>
                            <h2 class="article-list-describe-title"><a href="javascript:void(0);">我本楚狂人，凤歌笑孔丘</a></h2>
                            <p class="article-list-describe-text">我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
                            <p class="ctr-buts-block">
                                <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                            </p>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="article-list-box">
                        <div class="article-list-img-box"><img src="/public/images/f10.jpg" alt="" class="article-img"></div>
                        <div class="article-list-describe-box">
                            <div class="article-list-describe-author"><span class="article-tags"><a href="javascript:void(0);">article</a></span><span class="article-author"><a
                                    href="javascript:void(0);">@amazeUI</a></span><span class="article-date"><a href="javascript:void(0);">2015/10/9</a></span></div>
                            <h2 class="article-list-describe-title"><a href="javascript:void(0);">我本楚狂人，凤歌笑孔丘</a></h2>
                            <p class="article-list-describe-text">我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
                            <p class="ctr-buts-block">
                                <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                            </p>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="article-list-box">
                        <div class="article-list-img-box"><img src="/public/images/f10.jpg" alt="" class="article-img"></div>
                        <div class="article-list-describe-box">
                            <div class="article-list-describe-author"><span class="article-tags"><a href="javascript:void(0);">article</a></span><span class="article-author"><a
                                    href="javascript:void(0);">@amazeUI</a></span><span class="article-date"><a href="javascript:void(0);">2015/10/9</a></span></div>
                            <h2 class="article-list-describe-title"><a href="javascript:void(0);">我本楚狂人，凤歌笑孔丘</a></h2>
                            <p class="article-list-describe-text">我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
                            <p class="ctr-buts-block">
                                <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                            </p>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                    <div class="article-list-box">
                        <div class="article-list-img-box"><img src="/public/images/f10.jpg" alt="" class="article-img"></div>
                        <div class="article-list-describe-box">
                            <div class="article-list-describe-author"><span class="article-tags"><a href="javascript:void(0);">article</a></span><span class="article-author"><a
                                    href="javascript:void(0);">@amazeUI</a></span><span class="article-date"><a href="javascript:void(0);">2015/10/9</a></span></div>
                            <h2 class="article-list-describe-title"><a href="javascript:void(0);">我本楚狂人，凤歌笑孔丘</a></h2>
                            <p class="article-list-describe-text">我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。</p>
                            <p class="ctr-buts-block">
                                <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                            </p>
                        </div>
                        <div class="clear-both"></div>
                    </div>
                </div>
            </div>
            <div class="body-layout-r">
                <div class="model-box">
                    <div class="model-tag-name">登录</div>
                    <div class="model-contents-box">
                        <form v-on:submit.prevent="submitForm($event,'signin')">
                            <fieldset>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">用户名/邮箱/手机号：</label>
                                    <input type="text" v-model="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="用户名/邮箱/手机号">
                                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">密码：</label>
                                    <input type="password" v-model="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                                    <input type="hidden" name="token" v-model="token" value="" />
                                </div>
                                <fieldset class="form-group">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="" checked="" v-model="remember" />
                                            记住密码
                                        </label>
                                    </div>
                                </fieldset>
                                <button type="submit" class="btn btn-primary btn-lg btn-block btn-success">登录</button>
                            </fieldset>
                        </form>
                        <div class="quick-account">
                            <p class="quick-account-tip">快速登录：</p>
                            <p class="quick-account-buts-box">
                                <a href="javascript:void(0);" class="quick-account-buts qq"><i class="icon iconfont iconfont-set">&#xe60f;</i></a>
                                <a href="javascript:void(0);" class="quick-account-buts wechat"><i class="icon iconfont iconfont-set">&#xe640;</i></a>
                                <a href="javascript:void(0);" class="quick-account-buts sina"><i class="icon iconfont iconfont-set">&#xe6b8;</i></a>
                                <a href="javascript:void(0);" class="quick-account-buts github"><i class="icon iconfont iconfont-set">&#xe691;</i></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="model-box">
                    <div class="model-tag-name">热门标签</div>
                    <div class="model-contents-box">
                        <a href="javascript:void(0);" class="tages-box"  v-for="tag in tags_list" v-bind:data-id="tag._id">
                            ${tag.name}
                        </a>
                    </div>
                </div>
                <div class="model-box">
                    <div class="model-tag-name">moment</div>
                    <div class="model-contents-box">
                        <ul class="moment-list-box">
                            <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                            <li><a href="#">我把最深沉的秘密放在那里。</a></li>
                            <li><a href="#">你不懂我，我不怪你。</a></li>
                            <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}