.collections-list-body-block{width:970px;height:auto;margin:0 auto;padding:20px 0 0 0;}
.collection-headers-block{width:100%;height:100px;background:url('/public/images/recommend-collection-58f8968955ecbeb8f8f3b4cd95ec76be.png') no-repeat 0 0;background-size:100%;}
.collections-list-group-block{width:100%;height:auto;margin:40px 0 0 0;overflow:hidden;padding:40px 0 0 0;}
.collections-list-box{float:left;width:296px;height:280px;background:hsla(0,0%,71%,.1);position:relative;margin:0 0 80px 20px;border:1px solid #e6e6e6;padding:0 2%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;}
.collections-list-box:hover{
    -webkit-box-shadow: 0 3px 6px #e6e6e6;
    -moz-box-shadow: 0 3px 6px #e6e6e6;
    box-shadow: 0 3px 6px #e6e6e6}
.collection-icon-box{width:80px;height:80px;overflow:hidden;position:absolute;left:108px;top:-40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.collection-icon-box img{display:block;width:80px;height:80px;}
.collection-title-box{width:100%;height:auto;font-weight: bold;font-size:20px;margin:50px 0 10px 0;text-align:center;}
.collection-desc-box{width:100%;height:50px;font-size:14px;text-align:center;}
.follow-block{width:100%;height:60px;border-bottom:1px solid #e6e6e6;margin:8px 0 20px 0;}
.follow-but{display:block;width:100px;height:40px;color:#FFF !important;line-height:37px;text-align:center;margin:0 auto;background:#42c02e;border:1px solid #42c02e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;}
.collections-follwed{display:block;width:100px;height:40px;color:#8c8c8c !important;line-height:37px;text-align:center;margin:0 auto;background:none;border:1px solid hsla(0,0%,59%,.6);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;}
.show-msg{width:100%;height:auto;text-align:center;line-height:40px;}
.more-collections-block{width:100%;height:40px;}
.more-collections-buts{display:block;width:38.2%;height:40px;line-height:40px;text-align:center;margin:0 auto;margin-bottom:20px;background:#a5a5a5;color:#FFF !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;}