body{width:100%;height:100%;background:#f1f1f1;}
.login-form-block{
    width:480px;margin:0 auto;
    background:#FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 2px 4px #eeeeee;
    margin-top:50px;
    padding:50px 40px;
}
.form-title-text{width:100%;height:50px;line-height:50px;text-align:center;margin:0 0 20px 0}
.login-tab,.login-tabl{display:inline-block;width:80px;height:50px;line-height:50px;font-size:18px;color:#969696;}
.active{color:#ea6f5a;font-weight:bold;border-bottom:2px solid #ea6f5a;}
.form-input-block{width:400px;margin:0 auto;}
.login-user-name-input-block{width:100%;height:50px;border:1px solid #c8c8c8;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    padding:0 2%;
}
.login-user-phone-block,.login-user-confirm-input-block{
    width:100%;height:50px;border:1px solid #c8c8c8;padding:0 2%;border-top:none;
}
.login-user-password-input-block{width:100%;height:50px;border:1px solid #c8c8c8;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border-top:none;
    padding:0 2%;
}
.form-help-block{width:100%;height:50px;line-height:50px;color:#777;}
.login-rememberme{display:inline-block;float:left;color:#969696;}
.login-problem{display:inline-block;float:right;color:#969696;}
.form-submit-block{width:100%;height:50px;margin:0 0 30px 0;}
.form-submit-but{display:inline-block;width:100%;height:50px;line-height:50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:none;
    color:#FFF;
    font-size:18px;

}
.validate-block{width:100%;height:44px;margin:0 0 20px 0;}
.validate-tip{display:block;float:left;width:23%;height:44px;line-height:44px;margin:0 2% 0 0;}
#captcha-block{display:block;float:left;width:75%;height:44px;}
.login-but{background:#3194D1;}
.regist-but{background:#42c02e;margin-top:20px;}
.iconfontset{color:#777;}
#name,#password,#phone,#password-confirm{display:inline-block;width:94%;height:48px;line-height:48px;border:none;margin:0 0 0 1%;}
.eye-iconfont{color:#777;}
.other-login{width:100%;height:auto;position: relative;}
h6{display:block;width:100%;height:50px;line-height:50px;color:#777;text-align:center;}
h6:before{display:block;width:130px;content:"";border-top:1px solid #c8c8c8;position:absolute;top:25px;}
h6:after{display:block;width:130px;content:"";border-top:1px solid #c8c8c8;position:absolute;left:270px;top:25px;}
.other-login-buts-block{width:100%;height:50px;text-align:center;}
.other-but{display:inline-block;width:50px;height:50px;text-align:center;line-height:50px;margin:0 10px 0 0;
-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.qq{background:#498ad5;}
.wechat{background:#00bb29;}
.sina{background:#e05244;}
.other{background:#f0f0f0}
.othericonfont{color:#FFF;font-size:20px;}
.form-register-msg{width:100%;text-align:center;font-weight:bold;color:#777;}
.user-protocol-link{margin:0 8px 0 0;color:#3194d0;}
.privacy-policy-link{margin:0 0 0 8px;color:#3194d0;}