.contents-bar{width:100%;height:auto;}

.slide-bar{width:1024px;height:380px;position:relative;margin:0 auto;overflow:hidden;}
.slide-list-group{width:4096px;height:380px;position:absolute;left:0;top:0;}
.slide-lists{float:left;width:1024px;height:380px;position:relative;}
.slide-lists img{display:block;width:100%;height:380px;}
.slide-text-block{width:680px;height:220px;background:#FFF;position:absolute;left:172px;top:80px;border-radius:10px;opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);font-size:40px;font-weight:bold;line-height:180px;text-align:center;}
.prev-but-block{display:block;width:60px;height:60px;background:#3d3d3d;border-radius:0 10px 10px 0;opacity: .8;position:absolute;left:0;top:160px;text-align:center;line-height:60px;}
.next-but-block{display:block;width:60px;height:60px;background:#3d3d3d;border-radius:10px 0 0 10px;opacity: .8;position:absolute;left:964px;top:160px;text-align:center;line-height:60px;}
.prev-incofont,.next-incofont{font-size:30px;color:#FFF;}
#say-something-block{width:1024px;height:200px;margin:0 auto;margin-top:20px;}
.say-something-title{width:100%;height:40px;line-height:40px;font-family: "WBswficon" !important;}
.something-contents-block{width:100%;height:100px;}
.something-textarea{display:block;width:100%;height:100px;border:1px solid #c1c1c1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    resize: none;
}
.something-ctr-block{width:100%;height:400px;margin:10px 0 0 0;}
.add-something-price-but{display:inline-block;float:left;width:30px;height:40px;line-height:40px;}
.add-something-attr-but{display:inline-block;float:left;width:30px;height:40px;line-height:40px;}
.something-iconfont{font-size:20px !important;color:#3d3d3d;}
.add-something-send-but{display:inline-block;float:right;width:120px;height:40px;line-height:40px;color:#FFF;background:#ffc09f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align:center;
}

#body-content{width:1024px;height:auto;margin:2% auto;background:#FFF;}
.body-layout-l{float:left;width:70%;height:auto;}
.body-layout-r{float:left;width:30%;height:auto;}
.article-list-groups{width:100%;height:180px;margin:0 0 2% 0;}
.article-list-box{width:100%;height:auto;margin-bottom:20px;border-bottom:1px solid #c1c1c1;overflow:hidden;padding:0 0 20px 0}
.article-list-img-box{float:left;width:150px;height:120px;}
.article-list-img-box img{display:block;width:150px;height:120px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.article-list-describe-box{float:left;width:546px;height:120px;margin:0 0 0 20px;}
.article-list-describe-author{width:100%;height:20px;line-height:20px;font-size:13px;}
.article-tags,.article-author,.article-date{margin-right:10px;}
.article-list-describe-title{width:100%;height:40px;line-height:40px;font-weight:bold;}
.article-list-describe-text{width:100%;height:40px;font-size:14px;font-weight:bold;}
.clear-both{clear:both;}
.has-img{}
.article-title{width:100%;height:40px;line-height:40px;font-weight:bold;font-size:17px;}
.article-author{width:100%;height:20px;line-height:20px;font-size:13px;}
.article-contents{width:100%;height:80px;font-size:15px;padding:8px 0;}
.model-box{width:90%;height:auto;padding:6%;margin:0 0 15% 10%;border:1px solid #c1c1c1;position:relative;}
.model-tag-name{width:120px;height:40px;background:#FFF;line-height:40px;text-align:center;position:absolute;left:30%;top:-23px;font-size:14px;font-weight:bold;}
.model-contents-box{width:100%;height:auto;}
.tages-box{display:inline-block;width:auto;padding:5px 10px;margin:0 5px 5px 0;background:#c1c1c1;}
.moment-list-box{width:100%;}
.moment-list-box li{width:100%;font-size:13px;margin:0 0 10px 0;}
.moment-list-box li a{color:#3d3d3d;}
.quick-account{width:100%;height:auto;}
.quick-account-tip{width:100%;height:30px;line-height:30px;}
.quick-account-buts-box{width:100%;height:30px;}
.quick-account-buts{display:block;float:left;width:30px;height:30px;border-radius:50%;line-height:30px;text-align:center;margin-left:10px;}
.qq{background:#498ad5;}
.wechat{background:#00bb29;}
.github{background:#000;}
.sina{background:#e05244;}
.iconfont-set{color:#FFF;}

.index-user-avatar-img-box{width:100%;height:200px;}
.index-user-avatar-img-box img{display:block;width:237px;height:200px;}
.index-user-name-box,.insex-user-introduce-box,.index-user-nick-box{width:100%;height:30px;line-height:30px;}

.ctr-buts-block{width:100%;height:30px;}
.share-but-box{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:#777;}
.liked-but-box{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:#777;}
.collection-but-box{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:#777;}

.footer-bar{width:100%;height:auto;}