
{% extends '../common/headers.html' %}
{% block content %}
<section class="contents-bar">
    <link rel="stylesheet" href="/public/css/article.css">
    <div class="article-details-block">
        <div class="article-details-title">
            ${article.title}
        </div>
        <div class="article-details-author">
            <div class="author-avatar-block"><img src="/public/images/QQ20180131-224008@2x.png" alt="" class="article-author-avatar"></div>
            <div class="author-account-info-block">
                <div class="author-account-info-top">
                    <span class="article-authorn-name-box"><a href="" class="author-name">${article.author}</a></span>
                </div>
                <div class="author-account-info-bottom">
                    <span class="article-date"><element>${article.add_date}</element></span>
                    <span class="article-wordage">字数<element>${article.wordNumbers}</element></span>
                    <span class="article-view-count">阅读<element>${article.watch}</element></span>
                    <span class="article-comment-count">评论<element>${article.issue}</element></span>
                    <span class="article-likes-count">喜欢<element>${article.start}</element></span>
                </div>
            </div>
        </div>
        <div class="article-details-contents" v-html="article.contents">

        </div>
        <div class="article-comments-block">
            <div class="send-comment-block">
                <div class="comments-send-author-block">
                    <div class="comment-author-avatar-box"><a href="" class=""><img src="/public/images/QQ20180131-224008@2x.png" alt="" class="comment-avatar-img" title="bluelife"></a></div>
                    <div class="comment-textarea-block">
                        <textarea name="" id="" cols="30" rows="10" class="comment-contents-box" v-model="articleComments" v-on:focus="commentFocus($event)" v-on:blur="commentBlur($event)">填写您的评论</textarea>
                    </div>
                </div>
                <div class="comment-buts-box">
                    <a href="javascript:void(0);" class="comments-send-but" v-on:click="postCommentBut($event,article._id)">提交</a>
                    <a href="javascript:void(0);" class="comments-clean-but" v-on:click="resetCommentBut($event)">取消</a>
                </div>
            </div>
            <div class="comments-list-block" v-if="discuss.length > 0">
                <div class="comments-list-box" v-for="(item,$index) in discuss">
                    <div class="comments-author-block">
                        <div class="comments-author-avatar-box"><img src="/public/images/QQ20180131-224008@2x.png" alt="" class="comment-avatar-list-img"></div>
                        <div class="comments-author-info-block">
                            <div class="comment-author-name">bluelife</div>
                            <div class="comment-author-athor">${item.add_date}</div>
                        </div>
                    </div>
                    <div class="comments-content-block"><p>${item.contents}</p></div>
                </div>
            </div>
            <div class="comments-list-block" v-else>
                <div class="comments-list-box" >
                    <div class="comments-content-block"><p>暂无评论</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}