
{% extends '../common/headers.html' %}
{% block content %}
<section class="contents-bar">
    <link rel="stylesheet" href="/public/css/setting.css" />
    <div class="account-setting-block">
        <div class="account-set-menu-block">
            <ul class="set-menu-list-group">
                <li class="set-menu-list menu-default">
                    <a href="/setting/basic" class="setmenu-link"><i class="icon iconfont">&#xe650;</i>&nbsp;&nbsp;基础设置</a>
                </li>
                <li class="set-menu-list">
                    <a href="/setting/profile" class="setmenu-link"><i class="icon iconfont">&#xe611;</i>&nbsp;&nbsp;个人资料</a>
                </li>
                <li class="set-menu-list">
                    <a href="/setting/blogs" class="setmenu-link"><i class="icon iconfont">&#xe64b;</i>&nbsp;&nbsp;微博认证</a>
                </li>
                <li class="set-menu-list">
                    <a href="/setting/reward" class="setmenu-link"><i class="icon iconfont">&#xe606;</i>&nbsp;&nbsp;赞赏设置</a>
                </li>
                <li class="set-menu-list">
                    <a href="/setting/misc" class="setmenu-link"><i class="icon iconfont">&#xe632;</i>&nbsp;&nbsp;帐号管理</a>
                </li>
            </ul>
        </div>
        <div class="account-set-body-block">
            <div class="set-body-list-block">
                <form v-on:submit.prevent="changeUserBasicSubmitForm($event)">
                    <div class="basic-setting-list h120" style="border:none;">
                        <div class="basic-setting-tip h120 padt20"><img src="" v-bind:src="avatar" class="account-avatar"></div>
                        <div class="basic-setting-input-box h120 padt50"><input type="file" name="change-avatar" id="change-avatar" v-on:change="changeAvatar($event)"><span class="input-file-substitute-but">更换头像</span></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">昵称：</div>
                        <div class="basic-setting-input-box"><input type="text" name="nick" id="nick" v-model="nick" class="bgf0"></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">常用邮箱：</div>
                        <div class="basic-setting-input-box"><input type="email" name="email" id="email" v-model="email" class="bgf0"></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">手机：</div>
                        <div class="basic-setting-input-box"><input type="text" name="phone" id="phone" v-model="phone"></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">QQ：</div>
                        <div class="basic-setting-input-box"><input type="text" name="qq" id="qq" v-model="qq"></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">微信：</div>
                        <div class="basic-setting-input-box"><input type="text" name="wechat" id="wechat" v-model="wechat"></div>
                    </div>
                    <div class="basic-setting-list">
                        <div class="basic-setting-tip">常用编辑器：</div>
                        <div class="basic-setting-input-box">
                                <input type="radio" name="editor" id="editor" value="1" v-model="editors">&nbsp;&nbsp;富文本&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="editor" id="editor" value="2" v-model="editors">&nbsp;&nbsp;MarkDown
                        </div>
                    </div>
                    <div class="basic-setting-list" style="border:none;">
                        <input type="submit" value="保存" name="submit" id="setting-basic-submit-but" />
                    </div>
                    <input type="hidden" name="token" id="token" v-model="token" />
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}