.account-block{width:960px;margin:0 auto;margin-top:20px;}
.account-layout-left{float:left;width:68%;height:auto;margin:20px 0 0 0;}
.account-header-block{width:100%;height:80px;}
.account-icon-box{float:left;width:80px;height:80px;}
.account-icon-box img{display:block;width:80px;height:80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.account-info-box{float:left;width:auto;height:80px;padding:0 0 0 4%;}
.account-name-box{width:100%;height:40px;line-height:40px;font-weight:bold;font-size:21px;}
.account-fn-box{width:100%;height:50px;}
.account-info-labels{display:block;float:left;width:60px;height:40px;border-left:1px solid #f0f0f0;padding:0 0 0 5px;color:#969696;}
.account-info-labels:first-child{border-left:1px solid #fff;}
.account-content-block{width:100%;height:auto;}
.account-content-switch-buts-box{width:100%;height:40px;margin:20px 0 0 0;border-bottom:1px solid #f0f0f0;position:relative;}
.account-content-switch-buts-box li{float:left;width:120px;height:40px;line-height:40px;font-weight:bold;font-size:16px;text-align:center;}
.account-content-switch-buts-box li a{color:#969696 !important;}
.account-content-switch-buts-flang{display:block;width:120px;height:2px;background:#646464;position:absolute;left:0;top:38px;}
.account-content-switch-contents-box{width:100%;height:auto;}
.account-article-box{width:100%;height:auto;}
.account-article-box .article-list-describe-box{width:480px;}
.account-layout-right{float:left;width:28%;height:auto;margin:0 0 0 4%;}
.account-model-block{width:100%;height:auto;border-bottom:1px solid #f0f0f0;padding:10px 0;}
.account-model-title-box{width:100%;height:40px;}
.account-model-tip,.account-collection-tip{float:left;width:50%;height:40px;color:#969696;line-height: 40px;}
.new-collection-link-box{display:block;float:left;width:50%;height:40px;line-height:35px;text-align: right;}
.account-collection-new-link{color:#42c02e;}
.edit-introduce{display:block;float:left;width:50%;height:40px;line-height: 40px;color:#969696 !important;text-align: right;padding:0 5% 0 0;}
.account-model-introduce-edit-form-box{width:100%;height:auto;}
.account-introduce-texarea-box{width:100%;height:100px;}
#account-introduce-edit{width:100%;height:100px;border:1px solid #c8c8c8;background:hsla(0,0%,71%,.1);resize:none;padding:5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;}
.account-introduce-buts-box{width:100%;height:40px;margin:0 0 50px 0;}
#account-introduce-from-save-but{display:block;float:left;width:70px;height:30px;line-height:30px;border:1px solid rgba(59,194,29,.7);color:#42c02e !important;background:none;margin:5px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;}
#account-introduce-from-reset-but{display:block;float:left;width:60px;height:30px;line-height:30px;color:#969696;background:none;margin:5px 0;border:none;text-align:center;}
.account-follow-collections,.account-likes-articles{width:100%;height:30px;line-height:30px;font-size:15px;margin:0 0 10px 0;}
.account-collections-tip-box,.account-document-tip{width:100%;height:40px;line-height:40px;color:#969696;}
.new-collection-block,.new-document-block{width:100%;height:40px;line-height:40px;overflow: hidden;}
.new-collection-block a{color:#42c02e !important;}
.new-document-block a{color:#42c02e !important;}

.account-document-list-group-box,account-collections-list-group-box{width:100%;height:auto;}
.account-document-list-box,.account-collections-list-box{width:100%;height:40px;line-height:40px;overflow: hidden;;}
.iconfont-style{color:#969696 !important;}

.account-collections-icon{display:block;float:left;width:30px;height:40px;}
.account-collections-icon img{display:block;width:30px;height:30px;margin:5px 0;border:1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.account-collections-name{display:block;float:left;width:auto;height:40px;line-height:40px;padding:0 0 0 3%;}

