.article-details-block{width:750px;margin:0 auto;margin-top:50px;}
.article-details-title{width:100%;height:60px;line-height:60px;font-weight:bold;font-size:30px;text-align: center;color:#4d4f53;}
.article-details-author{width:100%;height:50px;}
.author-avatar-block{float:left;width:50px;height:50px;line-heihgt:50px;}
.article-author-avatar{display:block;width:50px;height:50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.author-account-info-block{float:left;width:auto;height:50px;line-height:50px;}
.author-account-info-top{width:auto;height:30px;line-height:30px;font-size: 20px;}
.article-authorn-name-box{display:block;float:left;width:auto;height:30px;line-height:30px;padding:0 10px;}
.account-follow-buts{display:block;float:left;width:auto;height:20px;line-height:15px;padding:0 8px;margin:5px 0;font-size:12px;color:#FFF !important;background:#3db922;border:1px solid #3db922;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius:20px;
}
.login-buts{padding:10px 20px;background:#187cb7;color:#FFF !important;margin:0 20px 0 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius:20px;
}

.author-account-info-bottom{width:auto;height:20px;}
.article-date{display:block;float:left;width:auto;height:20px;line-height:20px;padding:0 10px;}
.article-wordage{display:block;float:left;width:auto;height:20px;line-height:20px;padding:0 10px;}
.article-view-count{display:block;float:left;width:auto;height:20px;line-height:20px;padding:0 10px;}
.article-comment-count{display:block;float:left;width:auto;height:20px;line-height:20px;padding:0 10px;}
.article-likes-count{display:block;float:left;width:auto;height:20px;line-height:20px;padding:0 10px;}
.clear-both-box{clear: both;}

.article-detaile-content-body-box{width:100%;height:auto;margin:30px 0 0 0;}
.article-details-contents{width:100%;height:auto;}
.article-reward-but-box{width:100%;height:80px;margin:30px 0 0 0;overflow: hidden;}
.article-rewar-desc-box{width:100%;height:auto;text-align: center;font-weight:bold;font-size:15px;color:#969696;line-height:20px;margin:0 0 20px 0;}
.article-rewar-but-boc{width:100%;height:40px;}
.reward-buts{display:block;width:120px;height:40px;line-height: 40px;text-align:center;margin:5px auto;color:#FFF !important;background:#ec6149;font-size:16px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius:20px;
}
.article-details-contents p{width:100%;height:auto;font-size:15px;margin:0 0 10px 0;}
.article-details-contents p a{color:#3194d0 !important;}
.article-details-contents h1,h2,h3,h4,h5,h6,p{margin:20px 0;}
.article-details-contents pre{width:100%;height:auto;padding:0 0 0 40px;border:1px solid #272822;color:#666;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.article-details-contents img{display:block;width:auto;}
.article-details-contents ol{width:100%;background:#272822;padding:20px 0 20px 5px;}
.article-details-contents ol li{background:none;list-style-type:decimal;}
.article-details-contents table{border-collapse: collapse;border-spacing: 0;display: block;width: 100%;overflow: auto;margin:0 0 15px 0;}
.article-details-contents table thead tr{background:#f8f8f8;}
.article-details-contents table th{font-weight: 700;padding: 6px 13px;border: 1px solid #ddd;}
.article-details-contents table tr{border-top: 1px solid #ccc;}
.article-details-contents table tr:nth-child(2n) {background-color: #f8f8f8;}
.article-details-contents table td{padding: 6px 13px;border: 1px solid #ddd;}
.article-details-contents a{color:#28a4c9 !important;}
.article-comments-block{width:100%;height:auto;margin:50px 0 0 0;border-top:1px solid #f0f0f0;padding:20px 0 0 0;}
.send-comment-block{width:100%;height:200px;}
.comments-send-author-block{width:100%;height:150px;}
.comment-author-avatar-box{float:left;width:40px;height:130px;}
.comment-avatar-img{display:block;width:40px;height:40px;border:1px solid #ddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;}
.comment-textarea-block{float:left;width:690px;height:130px;padding:0 0 0 30px;}
.comment-contents-box{width:680px;height:128px;border:1px solid #c1c1c1;
    color:#969696;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:2%;
    resize: none;
    background:#f0f0f0;
}
.comment-buts-box{width:100%;height:40px;}
.comments-send-but{display:block;float:right;width:100px;height:40px;line-height:40px;text-align: center;color:#FFF !important;
    font-weight:bold;background:#42c02e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin:0 10px 0 10px;
}
.comments-clean-but{display:block;float:right;width:100px;height:40px;line-height:40px;text-align: center;color:#969696 !important;
    font-weight: bold;background:#fdf7f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.comment-permissions-buts-box{
    display:block;float:right;width:300px;height:40px;line-height:40px;margin:0 160px 0 0;
}
.comments-clean-but:hover{background:#c2c2c2;}
.comments-list-block{width:100%;height:auto;}
.comments-list-box{width:100%;height:auto;margin:0 0 20px 0;}
.comments-author-block{width:100%;height:40px;}
.comments-author-avatar-box{float:left;width:40px;height:40px;
}
.comment-avatar-list-img{display:block;width:40px;height:40px;border:1px solid #f0f0f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*margin:4px 4px;*/
    padding:2px;
}
.comments-author-info-block{float:left;width:auto;height:50px;margin:0 0 0 15px;}
.comment-author-name{width:100%;height:30px;line-height:30px;font-size:16px;}
.comment-author-athor{width:100%;height:10px;line-height:10px;font-size:12px;color:#c1c1c1;}
.comments-content-block{width:100%;height:auto;margin:20px 0 0 0;}
.comments-content-block p{width:100%;height:auto;font-weight: bold;font-size:14px;color:#777;text-indent: 4em;}


.reward-aothue-dialog-box{width:100%;height:46px;margin:10px 0;padding:0 7%;}
.reward-aothue-icon-box{display:block;float:left;width:36px;height:36px;margin:0 0 0 230px;}
.reward-aothue-icon-box img{display:block;width:100%;height:100%;border:1px solid #ddd;border-radius:50%;}
.reward-aothue-name-box{display:block;float:left;width:auto;height:36px;line-height:36px;padding:0 10px;vertical-align: middle;font-weight:bold;font-size:15px;}
.teng-iconfont{display:block;float:left;width:auto;height:36px;line-height:36px;}
.reward-amount-select-buts-dialog-box{width:100%;height:126px;padding:0 7%;}
.reward-amount-buts{display:block;float:left;width:165px;height:58px;line-height:60px;border:1px solid #E6E6E6;border-radius:5px;color:#999;text-align: center;margin:0 0 10px 0;box-sizing: border-box;}
.reward-amounts{font-size: 28px;/*vertical-align: middle;*/}
.reward-self-amounts{display:none;width:165px;height:58px;}
.self-amount-text{display:block;}
#self-amount-input-box{width:60%;height:40px;line-height: 40px;text-align: center;border:none;}
.reward-message-box{width:100%;height:120px;margin:10px 0;padding: 0 7%;}
.reward-message-textarea{display:block;width:100%;height:100px;border:1px solid #e6e6e6;color:#333;border-radius:3px;background:rgba(180, 180, 180, 0.1);resize:none;padding:10px;}
.reward-show-amount-box{width:100%;height:40px;line-height:40px;margin:10px 0;padding: 0 7%;text-align: center;}
.reward-show-amount{font-size:28px;font-weight:bold;color:#EA6F5A;}
.chenage-pay-method{color:#3194D0 !important;margin:0 0 0 5px;}

.reward-pay-methods-box{width:100%;height:60px;text-align: center;margin:20px 0 0 0;}
.select-pay-method-buts{display:inline-block;width:156px;height:56px;border:1px solid #e6e6e6;border-radius:3px;}
.select-pay-method-buts img{display:inline-block;width:112px;height:30px;margin:13px 22px;}
.select-pay-method-default,.reward-amount-buts-default{border:1px solid #EA6F5A;color:#EA6F5A;}
.pay-amount-buts{display:inline-block;width:120px;height:40px;line-height: 40px;text-align: center;color:#fff !important;background:#EA6F5A;font-size:15px;border-radius:20px;}
.el-dialog__footer{padding-bottom:60px !important;}

.article-page-box{width:100%;height:50px;margin:50px 0 10px 0;}
.article-page-buts{display:block;float:left;width:250px;height:50px;line-height:50px;text-align:center;background:#f7f7f7;color:#333;box-sizing: border-box;}
.article-page-buts:hover{background:#eeeeee;}
.prev-buts{border:1px solid #e0e0e0;border-radius:3px 0 0 3px;}
.directory-buts{border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.next-buts{border:1px solid #e0e0e0;border-radius:0 3px 3px 0;}

.article-share-box{width:100%;height:60px;margin:60px 0 10px 0;}
.article-share-like-box{dislay:block;float:left;width:25%;height:60px;line-height:60px;text-align:center;border:1px solid #EA6F5A;border-radius:40px;color:#EA6F5A;font-size:19px;position:relative;}
.article-share-like-box:hover{cursor:pointer;background:#fef6f6;}
.article-share-like-text{font-weight:bold;padding:0 10px 0 0;margin: 0 20px 0 0;}
.article-share-like-text:before{content:"";width:1px;height:30px;position:absolute;left:110px;top:15px;border:1px solid #EA6F5A;}
.article-share-list-box{dislay:block;float:left;width:75%;height:60px;}

.article-share-buts{display:block;float:right;width:50px;height:50px;line-height:50px;text-align:center;margin:10px 0;border:1px solid #dcdcdc;border-radius:50%;margin:0 10px 0 0;}
.iconfont-wechat{font-size:27px;color:#00bd3c;}
.iconfont-sina{font-size:27px;color:#e15044;}
.iconfont-picture{font-size:27px;color:#9b9b9b;}
.article-share-more-buts{display:block;float:right;width:auto;height:50px;font-size:15px;line-height:50px;text-align:center;padding:0 18px;border:1px solid #dcdcdc;border-radius:40px;}