#rticle-editor-app{width:100%;height:100%;}
.article-editor-layout-left{float:left;width:15%;height:100%;background:#404040;position:fixed;left:0;top:0;}
.callback-index-block{width:100%;height:80px;overflow:hidden;}
.callback-index-link{display:block;width:90%;height:40px;line-height:40px;text-align:center;margin:20px auto;color:#ec7259 !important;border:1px solid #ec7259;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;}
.callback-index-link:hover{color:#ec7259;}
.create-document-but-block{width:100%;height:40px;}
.create-document-but{display:inline-block;width:100%;height:40px;line-height:40px;color:#FFF !important;padding:0 0 0 5%;font-weight:bold;}
.create-document-but:hover{color:#FFF;}
.create-document-input-block{width:100%;height:100px;display:none;}
#doc-name{display:block;width:90%;height:40px;line-height:40px;color:#ccc;margin:0 auto;background:#595959;border:1px solid #333;padding:0 0 0 3%;}
.button-blox{width:90%;height:30px;margin:0 auto;margin-top:10px;}
#doc-confirm-but{display:inline-block;width:30%;height:30px;line-height:30px;color:#42c02e;background:#404040;border:1px solid #42c02e;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;}
#doc-reset-but{display:inline-block;width:30%;height:30px;line-height:30px;color:#999;background:#404040;border:none;}
.documents-list-group-block,.documents-list-group-box{width:100%;height:auto;}
.documents-list-box{width:100%;height:40px;background:#666;border-left:3px solid #666;margin:0 0 8px 0;position:relative;box-sizing: border-box;}
.documents-list-box:hover{cursor:pointer;border-left:3px solid #ec7259;}
.document-active{border-left:3px solid #ec7259;}
.document-unactive{border-left:3px solid #666;}
.document-name{display:block;float:left;width:80%;height:40px;line-height:40px;padding:0 0 0 5%;color:#FFF;}
#document-input-name{display:none;float:left;width:80%;height:40px;line-height:40px;padding:0 0 0 5%;color:#FFF;background:none;border:none;}
.document-setting-buts{display:block;float:left;width:15%;height:40px;line-height:40px;text-align:center;color:#FFF;}
.document-setting-buts:hover{cursor:pointer;}
.document-menu-list-group{display:none;width:120px;height:auto;background:#FFF;position:absolute;right:0;top:40px;z-index:999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.document-menu-list-box{width:100%;height:40px;line-height:40px;padding:0 0 0 10%;border-bottom:1px solid #d9d9d9;}
.document-menu-list-box:hover{background:#595959;color:#FFF;}
.document-menu-list-box:last-child{border:none;}



.article-editor-layout-center{float:left;width:18%;height:100%;position:fixed;left:252px;top:0;}
.create-article-but-block{width:100%;height:50px;}
.create-article-but{display:inline-block;width:100%;height:50px;line-height:50px;padding:0 0 0 8%;color:#595959;font-weight:bold;}
.create-article-but:hover{color:#595959;}
.article-list-group-block,.article-list-group-box{width:100%;height:auto;position:relative;}
.article-list-box{width:100%;height:60px;padding:10px 0;background:#e6e6e6;border-left:6px solid #e6e6e6;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin:0 0 8px 0;position:relative;box-sizing: border-box;}
.article-list-box:hover{cursor:pointer;border-left:6px solid #ec7259}
.article-menu-list-group{display:none;width:160px;height:auto;background:#f6f6f6;position:absolute;right:0;top:59px;z-index:999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.article-menu-list-box{width:100%;height:40px;line-height:40px;padding:0 0 0 10%;border-bottom:1px solid #d9d9d9;}
.article-menu-list-box:hover{background:#595959;color:#FFF;}
.article-menu-list-box:last-child{border:none;}
.document-menu-group-block{display:none;width:160px;height:auto;background:#FFF;position:absolute;right:160px;top:0;z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}
.document-menu-group-list-box{width:100%;height:40px;line-height:40px;padding:0 0 0 10%;border-bottom:1px solid #d9d9d9;position:relative;}
.document-menu-group-list-box:hover{background:#595959;color:#FFF;}
.document-menu-group-list-box:last-child{border:none;}

.article-active{border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:6px solid #ec7259;}
.article-unactive{border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-left:6px solid #e6e6e6;}
.article-iconfont{display:block;float:left;width:13%;height:40px;line-height:40px;padding:0 0 0 5%;font-size:30px;}
.article-name{display:block;float:left;width:72%;height:40px;line-height:40px;padding:0 0 0 5%;}
.article-setting-buts{display:block;float:left;width:15%;height:40px;line-height:40px;text-align:center;}
.article-setting-buts:hover{cursor:pointer;}
.loading-box{display:inline-block;width:20px;height:20px;background:url("/public/images/loading.gif") no-repeat 0 0;background-size: 100% 100%;}



.article-editor-layout-right{float:left;width:67%;height:100%;position:fixed;left:554px;top:0;}
.article-editor-block{width:100%;height:auto;}
.article-editor-title{width:100%;height:50px;border-left:1px solid #ddd;position:relative;box-sizing: border-box;}
.save-tip-box{display:block;width:50px;height:30px;line-height:30px;text-align:center;position:absolute;top:0;right:20px;z-index:-1;}
#article-title{display:block;float:left;width:90%;height:50px;line-heihgt:50px;border:none;font-size:20px;font-weight:bold;color:#595959;padding:0 0 0 3%}
.send-article-but{display:block;float:left;width:10%;height:50px;line-height:50px;text-align:center;color:#595959;}
.send-article-but:hover{color:#595959;}
.article-editor-contents-block{width:100%;height:680px;}