<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/public.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script type="text/javascript" src="/public/js/vue.js"></script>
    <!--<script type="text/javascript" src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>-->
    <script type="text/javascript" src="/public/js/vue-resource.js"></script>
    <script type="text/javascript">
        var token = '{{ token }}';
        var uid = '{{ userInfo.uid }}';
    </script>
</head>
<body>
<div id="app">
<header class="header-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="javascript:void(0);">MyBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-a-but" href="/">首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav-a-but">
                    <a class="nav-link" href="/article/lists">文章列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photos">相册</a>
                </li>
                <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">About</a>-->
                <!--</li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="请输入要搜索的关键字">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
        <a href="/editor" class="badge badge-primary write-article-but"><i class="icon iconfont">&#xe63e;</i>写文章</a>
        <div class="account-center-block">
            <span class="account-avatar-block"><img src="" v-bind:src="avatar" alt="" class="account-avatar-img"></span>
            <span class="account-username">
                <a href="" v-bind:title="fullname">${name}</a>
            </span>
            <a href="javascript:void(0);" class="account-contr-buts" v-on:click="showAccountBox"><i class="icon iconfont" v-html="accountSymbol"></i></a>
            <div class="account-options-box" v-bind:style="{display:accountBox}">
                <a href="/account" class="account-setting-but"><i class="icon iconfont">&#xe614;</i>&nbsp;&nbsp;我的主页</a>
                <a href="/bookmarks" class="account-setting-but"><i class="icon iconfont">&#xe6a8;</i>&nbsp;&nbsp;我收藏的文章</a>
                <a href="/liked" class="account-setting-but"><i class="icon iconfont">&#xe641;</i>&nbsp;&nbsp;我喜欢的文章</a>
                <a href="/setting/basic" class="account-setting-but"><i class="icon iconfont">&#xe632;</i>&nbsp;&nbsp;设置</a>
                <a href="/help" class="account-setting-but"><i class="icon iconfont">&#xe60a;</i>&nbsp;&nbsp;问题与反馈</a>
                <a href="/api/signout" class="account-signout-but"><i class="icon iconfont">&#xe633;</i>&nbsp;&nbsp;退出</a>
            </div>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
<footer class="footer-bar"></footer>
    <div class="popup-layer" v-bind:style="{display:popupLayerBoxShow}">
        <div class="popup-marsk-layer" v-bind:style="{width:popupLayerWidth,height:popupLayerHeight}"></div>
        <div class="modal" v-bind:style="{left:popupLayerLeft,top:popupLayerTop}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">提示：</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="closePopupLayer">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-text="popupLayerText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-on:click="closePopupLayer">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/public/js/main.js"></script>
</html>