{% extends '../../common/headers.html' %}
{% block content %}
<link rel="stylesheet" href="/public/css/collection_lists.css">
<section class="contents-bar">
    <link rel="stylesheet" href="/public/css/collection_dewtailes.css" />
    <div class="collections-detailes-body-block">
        <div class="collections-detailes-layout-left">
            <div class="collections-detailes-headers-block">
                <div class="collections-icon-box"><img src="/public/images/avatar-notebook-default-640f7dde88592bdf6417d8ce1902636e.png"  alt=""></div>
                <div class="collections-title-box">
                    <p class="collections-title">${collection.name}</p>
                    <p class="collections-info">收录了<span>${collection.include}</span>篇文章 · <span>${collection.follow}</span>人关注</p>
                </div>
            </div>
            <div class="collections-detailes-contents-block">
                <div class="collections-switch-buts-box">
                    <a href="javascript:void(0);" class="collections-switch-buts" data-type="discuss" v-on:click="switchButs($event,'discuss')" v-on:mouseover="switchButOver('discuss')" v-bind:is-now="switchButSelected" ref="switchButsDiscuss"><i class="icon iconfont">&#xe626;</i>&nbsp;最新发布</a>
                    <a href="javascript:void(0);" class="collections-switch-buts" data-type="new" v-on:click="switchButs($event,'new')" v-on:mouseover="switchButOver('new')" v-bind:is-now="switchButSelected" ref="switchButsNew"><i class="icon iconfont">&#xe607;</i>&nbsp;最新收录</a>
                    <a href="javascript:void(0);" class="collections-switch-buts" data-type="hot" v-on:click="switchButs($event,'hot')" v-on:mouseover="switchButOver('hot')" v-bind:is-now="switchButSelected" ref="switchButsHot"><i class="icon iconfont">&#xe604;</i>&nbsp;目录</a>
                    <span class="switch-flag-box" v-bind:style="{display:swtichFlagShow,left:swtichFlagLeft}"></span>
                </div>
                <div class="collections-switch-list-group-box">
                    <div class="collections-switch-list-box" ref="switchContentsDiscuss">
                        暂无文章
                    </div>
                    <div class="collections-switch-list-box" ref="switchContentsNew">
                        <div class="article-list-box" v-for="(article,$index) in newIncludeArticleLists" v-bind:class="{'has-img':article.hasImg}">
                            <div class="article-list" v-if="article.hasImg">
                                <a v-bind:href="article.href"><div class="article-list-img-box" v-html="article.imgHtml"></div></a>
                                <div class="article-list-describe-box">
                                    <a v-bind:href="article.href">
                                        <div class="article-list-describe-author"><span class="article-tags">${article.doc_name}</span><span class="article-author">@${article.author}</span><span class="article-date">${article.add_date}</span></div>
                                        <h2 class="article-list-describe-title">${article.title}</h2>
                                        <p class="article-list-describe-text">${article.contents}</p>
                                    </a>
                                    <p class="ctr-buts-block">
                                        <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                        <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                        <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                                    </p>
                                </div>
                                <div class="clear-both"></div>
                            </div>
                            <div class="article-list" v-else>
                                <a target="_blank" v-bind:href="article.href">
                                    <div class="article-title"><span href="javascript:void(0);">${article.title}</span></div>
                                    <div class="article-author"><span class="article-tags">${article.doc_name}</span><span class="article-author">@${article.author}</span><span class="article-date">${article.add_date}</span></div>
                                    <div class="article-contents">${article.contents}</div>
                                </a>
                                <p class="ctr-buts-block">
                                    <a href="javascript:void(0);" class="share-but-box"><i class="icon iconfont">&#xe61f;</i></a>
                                    <a href="javascript:void(0);" class="liked-but-box"><i class="icon iconfont">&#xe630;</i></a>
                                    <a href="javascript:void(0);" class="collection-but-box"><i class="icon iconfont">&#xe605;</i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="collections-switch-list-box" ref="switchContentsHot">暂无文章</div>
                </div>
            </div>
        </div>
        <div class="collections-detailes-layout-right">
            <div class="collections-detailes-models">
                <div class="collections-detailes-models-header">文集作者</div>
                <div class="collections-detailes-models-contents" v-html="collection.describe">
                    <!--<p>${collection.describe}</p>-->
                    <!--<p>欢迎关注公众号简宝玉( 公众号ID : jianshu4321 )后台回复“指南”获取玩转简书绝密珍贵资料汇总；有问题，找宝玉。简宝玉同志会专程为你答疑解惑关于简书的一切。</p>-->
                    <!--<p>和简书一起探索电影世界，欢迎订阅官方公众号：简书电影（jianshuyingyin）</p>-->
                    <!--<p>本专题收录电影相关文章。要求文内不得带有公众号信息等推广内容。详细规定、推荐首页、联系主编事宜请阅读专题须知： https://www.jianshu.com/p/400ae26fd3d7</p>-->
                    <!--<p>专题主编：魔鬼的赞歌 http://www.jianshu.com/users/680ea2b754fc/</p>-->
                    <!--<p>关注公众号 “简书电影” （jianshuyingyin），简书电影更多福利等着你！</p>-->
                </div>
            </div>
        </div>

        <div class="collection-push-popup-layer" v-bind:style="{display:collectionPopupLayer,width:popupLayerWidth,height:popupLayerHeight}">
            <div class="collection-push-popup-mark" v-bind:style="{width:popupLayerWidth,height:popupLayerHeight}"></div>
            <div class="collection-push-popup-contents" v-bind:style="{left:popupLayerLeft,top:popupLayerTop}">
                <div class="collection-push-popup-contents-header">
                    <div class="collection-push-popup-tip">
                        <span class="collection-push-popup-notice">给该专题投稿</span>
                        <a href="https://blog.mcloudhub.com/editor" class="collection-push-popup-new">写篇新文章</a>
                        <a href="javascript:void(0);" class="collection-push-popup-clean-buts" v-on:click="closeCollectionPushPopupLayer($event)"><i class="icon iconfont">&#xe63a;</i></a>
                    </div>
                    <div class="collection-push-popup-search-box">
                        <input type="text" name="collection-push-popup-search-input" id="collection-push-popup-search-input" value="" placeholder="搜索我的文章" v-model="collectionSearchKeyWord" />
                        <a href="javascript:void(0);" class="collection-push-popup-search-buts" v-on:click="collectionSearchArticle($event)"><i class="icon iconfont">&#xe71e;</i></a>
                    </div>
                </div>
                <div class="collection-push-popup-contents-body">
                    <ul class="collection-push-popup-article-list-group">
                        <li class="collection-push-popup-article-list-box" v-for="(article,$index) in articleLists" v-bind:data-id="article._id">
                            <span class="collection-push-popup-article-name"><a target="_blank" v-bind:href="article.href">${article.title}</a></span>
                            <a href="javascript:void(0);" class="collections-push-action-but" v-on:click="pushActionBut($event,article._id,collection._id)">投稿</a>
                        </li>
                    </ul>
                </div>
                <div class="collection-push-popup-contents-footer"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}