{% extends '../../common/headers.html' %}
{% block content %}
<link rel="stylesheet" href="/public/css/collection_lists.css">
<section class="contents-bar">
    <link rel="stylesheet" href="/public/css/collection_dewtailes.css" />
    <div class="collections-detailes-body-block">
        <div class="collections-detailes-layout-left">
            <div class="collections-detailes-headers-block">
                <div class="collections-icon-box"><img v-bind:src="collection.icon"  alt=""></div>
                <div class="collections-title-box">
                    <p class="collections-title">${collection.name}</p>
                    <p class="collections-info">收录了<span>${collection.include}</span>篇文章 · <span>${collection.follow}</span>人关注</p>
                </div>
                <div class="collections-fn-box">
                    <a href="javascript:void(0);" class="collections-push-but" v-on:click="collectionPush($event,collection._id)">投稿</a>
                    <a href="javascript:void(0);" class="collections-follw-but" v-if="collSubscribe" v-bind:class="{'collections-follwed':collSubscribe}"><i class="icon iconfont">&#xe699;</i>&nbsp;已关注</a>
                    <a href="javascript:void(0);" class="collections-follw-but" v-else v-on:click="followButs($event,collection._id)"><i class="icon iconfont">&#xe628;</i>&nbsp;关注</a>
                </div>
            </div>
            <div class="collections-detailes-contents-block">
                <div class="collections-switch-buts-box">
                    <a href="javascript:void(0);" class="collections-switch-buts"><i class="icon iconfont">&#xe626;</i>&nbsp;最新评论</a>
                    <a href="javascript:void(0);" class="collections-switch-buts"><i class="icon iconfont">&#xe607;</i>&nbsp;最新收录</a>
                    <a href="javascript:void(0);" class="collections-switch-buts"><i class="icon iconfont">&#xe634;</i>&nbsp;热门</a>
                </div>
                <div class="collections-switch-list-group-box">
                    <div class="collections-switch-list-box">暂无文章</div>
                    <div class="collections-switch-list-box">暂无文章</div>
                    <div class="collections-switch-list-box">暂无文章</div>
                </div>
            </div>
        </div>
        <div class="collections-detailes-layout-right">
            <div class="collections-detailes-models">
                <div class="collections-detailes-models-header">专题公告</div>
                <div class="collections-detailes-models-contents" v-html="collection.describe">
                    <!--<p>${collection.describe}</p>-->
                    <!--<p>欢迎关注公众号简宝玉( 公众号ID : jianshu4321 )后台回复“指南”获取玩转简书绝密珍贵资料汇总；有问题，找宝玉。简宝玉同志会专程为你答疑解惑关于简书的一切。</p>-->
                    <!--<p>和简书一起探索电影世界，欢迎订阅官方公众号：简书电影（jianshuyingyin）</p>-->
                    <!--<p>本专题收录电影相关文章。要求文内不得带有公众号信息等推广内容。详细规定、推荐首页、联系主编事宜请阅读专题须知： https://www.jianshu.com/p/400ae26fd3d7</p>-->
                    <!--<p>专题主编：魔鬼的赞歌 http://www.jianshu.com/users/680ea2b754fc/</p>-->
                    <!--<p>关注公众号 “简书电影” （jianshuyingyin），简书电影更多福利等着你！</p>-->
                </div>
            </div>
        </div>

        <div class="collection-push-popup-layer" v-bind:style="{display:collectionPopupLayer,width:popupLayerWidth,height:popupLayerHeight}">
            <div class="collection-push-popup-mark" v-bind:style="{width:popupLayerWidth,height:popupLayerHeight}"></div>
            <div class="collection-push-popup-contents" v-bind:style="{left:popupLayerLeft,top:popupLayerTop}">
                <div class="collection-push-popup-contents-header">
                    <div class="collection-push-popup-tip">
                        <span class="collection-push-popup-notice">给该专题投稿</span>
                        <a href="https://blog.mcloudhub.com/editor" class="collection-push-popup-new">写篇新文章</a>
                        <a href="javascript:void(0);" class="collection-push-popup-clean-buts" v-on:click="closeCollectionPushPopupLayer($event)"><i class="icon iconfont">&#xe63a;</i></a>
                    </div>
                    <div class="collection-push-popup-search-box">
                        <input type="text" name="collection-push-popup-search-input" id="collection-push-popup-search-input" value="" placeholder="搜索我的文章" v-model="collectionSearchKeyWord" />
                        <a href="javascript:void(0);" class="collection-push-popup-search-buts" v-on:click="collectionSearchArticle($event)"><i class="icon iconfont">&#xe71e;</i></a>
                    </div>
                </div>
                <div class="collection-push-popup-contents-body">
                    <ul class="collection-push-popup-article-list-group">
                        <li class="collection-push-popup-article-list-box" v-for="(article,$index) in articleLists" v-bind:data-id="article._id">
                            <span class="collection-push-popup-article-name"><a target="_blank" v-bind:href="article.href">${article.title}</a></span>
                            <a href="javascript:void(0);" class="collections-push-action-but" v-on:click="pushActionBut($event,article._id,collection._id)">投稿</a>
                        </li>
                    </ul>
                </div>
                <div class="collection-push-popup-contents-footer"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}